h1, h3 {
    float: left;
}

.class-title {
    margin: 0;
}

.company_title {
    font-size: 170%;
    text-align: left;
    margin: 0;
}

body {
    background-color: #ffdbac;
    color: #000000;
    font-size: 155%;
}

.settings-button {    /* 三点リーダー */
    background: #fffffff0;
    color: #000;
    font-size: 32px;
    padding: 7px 18px 7px 18px;
    border-radius: 18px;
    transition: background 0.2s;
    box-shadow: 0 2px 6px rgba(78, 140, 255, 0.08);
    align-self: flex-end;
    float: right;
}

.settings-button:hover {
    background: #eeeeeee0;
}

.product-table {
    width: 97%;
    margin-top: 24px;
    text-align: left;
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 0;
}

.product-table th:first-child {
    border-radius: 18px 0 0 0;
}

.product-table th:last-child {
    border-radius: 0 18px 0 0;
    border-right: 1px solid #ff6600;
}

.product-table th {
    text-align: center;
    color: rgb(255, 255, 255);
    background: #ff6600;
    border-left: 1px solid #ff6600;
    border-top: 1px solid #ff6600;
    border-bottom: 1px solid #ff6600;
    box-shadow: 0px 1px 1px rgba(255, 255, 255, 0.3) inset;
    width: 25%;
    padding: 10px 0;
}

.product-table td {
    text-align: center;
    border-left: 1px solid #ff6600;
    border-bottom: 1px solid #ff6600;
    border-top: none;
    width: 25%;
    padding: 10px 0;
}

.product-table td:last-child {
    border-right: 1px solid #ff6600;
}

.product-table tr:last-child td:first-child {
    border-radius: 0 0 0 18px;
}

.product-table tr:last-child td:last-child {
    border-radius: 0 0 18px 0;
}

.product-table th:nth-child(1), .product-table td:nth-child(1) {
    width: 40%;
}

.product-table th:nth-child(2), .product-table td:nth-child(2) {
    width: 30%;
}

.product-table th:nth-child(3), .product-table td:nth-child(3) {
    width: 30%;
}

.status-on-sale {
    color: #4ba5f0;
    font-weight: bold;
}

.status-soldout {
    color: #e04f4c;
    font-weight: bold;
}

.status-checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pd-sold {
    float: left;
    font-size: larger;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.spinner {
    border: 8px solid #eee;
    border-top: 8px solid #f39121;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

.modal-overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.67);
    align-items: center;
    justify-content: center;
}

.modal-box{
    background: #ffdbac;
    padding: 1rem;
    border-radius: 18px;
}